@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Sansita', sans-serif;
    background-color: #6E4E5A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    margin: 0;
    font-size: 7.5vmin;
    gap: 2vmin;
    user-select: none;
}

#game-board {
    display: grid;
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    background-color: #684753;
    gap: var(--cell-gap);
    border-radius: 1vmin;
    padding: var(--cell-gap);
    position: relative;
}

.cell {
    background-color: #6B4B54;
    border-radius: 1vmin;
    box-shadow: 0 0 .5vmin rgba(0, 0, 0, .5);
}

.tile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 1vmin;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    background-color: hsl(336, 18%, var(--background-lightness));
    color: hsl(60, 100%, var(--text-lightness));
    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out;
}

.score-container {
    width: calc(16vmin * 4 + 2vmin * 5);
    height: 6vmin;
    background-color: #684753;
    border-radius: 1vmin;
    font-size: 4.5vmin;
    padding: 0 1vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    color: #bda1ac;
}

.game-over {
    z-index: 69;
    width: 36vmin;
    height: 24vmin;
    background-color: hsl(338, 19%, 25%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2vmin;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .7);
}

.game-over h3 {
    font-size: 3.5vmin;
    color: #bda1ac;
}

#restart {
    background-color: hsl(338, 25%, 80%);
    border: none;
    font-family: inherit;
    font-size: 2vmin;
    padding: 0 1vmin .5vmin 1vmin;
    cursor: pointer;
    color: black;
    transition: all .3s;
}

#restart:hover {
    border-radius: .5vmin;
    color: white;
    background-color: hsl(338, 25%, 20%);
    box-shadow: 0 0 .3rem rgba(0, 0, 0, .7);
}

#restart:active {
    scale: .98;
}

#dusk {
    position: absolute;
    width: 100vw;
    height: 100dvh;
    z-index: 68;
    background-color: rgba(0, 0, 0, .5);
}

.hide {
    display: none;
}

@keyframes show {
    0% {
        opacity: .5;
        transform: scale(0);
    }
}